#banner
  .banner_content
    %h1 Jott
    %p Don't forget a thing. Jott it down.
    %button= link_to "Sign Up", new_user_registration_path
#testimonial
  .wrapper
    %p.quote "Just awesome."
    %p.name - Duy Huynh
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p Croissant tootsie roll cotton candy powder sweet roll cake sesame snaps.

      .callout
        %h2 Notes
        %p Oat cake brownie caramels marshmallow ice cream lollipop oat cake candy.

      .callout
        %h2 Notes
        %p Lollipop bear claw macaroon jelly bonbon ice cream.
#bottom_cta
  .wrapper
    %h2 Just Jott It!
    %p Don't let your dreams be dreams!
    %button= link_to "Sign Up!", new_user_registration_path

%footer
  %p &copy; Duy Huynh